body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/background1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family:'Itim';
    src: url(https://fonts.googleapis.com/css?family=Itim);

}

#select-zone{
    margin-bottom:0px;
}
.container-img{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    transition: all .3s;
}

.container-img:hover{
    filter: brightness(80%);
    transform: scale(1.15);
    transition: all .5s;
}

.container-img:active{
    filter: brightness(50%);
}

.sand-margin{
    margin-top: 20px;
}

#calculating-zone{
    background-color: rgba(255, 255, 255, 0.544);
    padding: 15px;
    border-radius: 10px;

}

.calculate-button{
    width: 100%;
    padding: 10px;
    margin-top:20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 133, 133);
    font-family:'NemoThin';
    font-size: 20px;
    transform: all .3s;
}

.calculate-button:hover{
    background-color: rgb(255, 67, 67);
    transform: scale(1.15);
    transition: all .5s;
}

@media screen and (min-width: 360px) {
    body{
        font-size: 17px;
        text-align: center;
    }
    .info {
        font-size: 20px;
    }
    h1{
        font-size: 30px;
        color: rgb(255, 133, 133);
        -webkit-text-stroke: 0.1px rgb(180, 53, 53);
    }

    #alert-zone{
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 20px;
        text-align: center;
    }
    .info {
        font-size: 20px;
    }
    h1{
        font-size: 40px;
        color: rgb(255, 133, 133);
        -webkit-text-stroke: 0.1px rgb(180, 53, 53);
    }

    #alert-zone{
        font-size: 30px;
    }
}

.calculate-desc{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 16px;
}