body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#select-zone{
    margin-bottom:30px;
}
.container-img{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.container-img:hover{
    filter: brightness(80%);
}

.container-img:active{
    filter: brightness(50%);
}

.calculate-button{
    width: 100%;
    padding: 10px;
    margin-top:20px;
}

@media screen and (min-width: 360px) {
    body{
        font-size: 14px;
    }
    .info {
        font-size: 12px;
    }

    h1{
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .info {
        font-size: 20px;
    }
}

.calculate-desc{
    text-align: center;
}
